@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&display=swap');

:root {--white: #ffffffff;
    --preto: #00171fff;
    --azul-escuro: #003459ff;
    --azul-claro: #007ea7ff;
    --titulo:"Honk", system-ui;
    --texto:"Bungee Spice", sans-serif;
}
body{
    background-color: var(--preto);
    font-family: var(--texto);
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}